module policy 1.0;

require {
	type sshd_t;
	type unconfined_t;
	class process transition;
}

# Allow unconfined_u users (vagrant) to ssh
#============= sshd_t ==============
allow sshd_t unconfined_t:process transition;
